@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(delaney-van-Fvurl_P-G1s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  text-align: center;
  font-family: "Bookman", Helvetica, sans-serif;
  min-width: 320px;
  color: rgb(230, 230, 230);
}

#title {
  font-size: 48px;
  text-shadow: -5px 5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 40px 0;
}

#description {
  padding: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#form-outer {
  background-color: #00000095;
  border: black 2px solid;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 15px;
  width: 70%;
  max-width: 900px;
  padding: 10px;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding: 20px;
  vertical-align: top;
  font-size: 18px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.rowTab {
  margin: 40px 0;
  
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: top;
  
  
}

.input-field {
  height: 25px;
  width: 200px;
  padding: 5px;
  margin: 20px;
  border: solid black 1px;
}

input[type="checkbox"],
input[type="radio"] {
  float: left;
  margin: 5px;
}

.radio,
.checkbox {
  margin-left: 20px;
  display: block;
  padding-bottom: 15px;
  font-size: 18px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#submit {
  background-color: #d65113;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  height: 34px;
  width: 110px;
  margin: 30px;
  border: 1px solid white;
}

#submit:hover {
  font-size: 20px;
  border: 2px solid white;
}

#submit:active {
  color: #000;
  border: 2px solid black;
}

.dropdown {
  height: 30px;
  width: 210px;
  padding: 3px;
  margin: 20px;
  margin-top: 50px;
  border: solid black 1px;
}

#comments {
  height: 100px;
  width: 275px;
  padding: 5px;
  margin: 10px;
  margin-top: 10px;
  border: solid black 1px;
}

#activities {
  display: inline-block;
  text-align: left;
}


@media screen and (max-width: 1000px) {
  #form-outer {
    margin: auto;
    margin-bottom: 60px;
    width: 80%;  
    padding: 5px;
  }
}
  
@media screen and (max-width: 650px) {

  #form-outer {
    
    margin: auto;
    margin-bottom: 60px;
    width: 70%;  
    padding: 10px;
  }

  #description {
  padding: 10px 80px;
  }

  .labels {
    display: block;
    text-align: left;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .rowTab {
    padding: 5px 15px;
    
  }

  .rightTab {
    display: block;
    text-align: left;
    width: 100%;
  }

  #comments {
    height: 150px;
    width: 90%;
  }
}

@media screen and (max-width: 500px) {

  #form-outer {
    margin: auto;
    margin-bottom: 60px;
    width: 80%;  
    padding: 5px;
  }

  #description {
    padding: 10px 40px;
    }

}